# hide.comp.cdb.ValidationResult

**enum** · package [`hide.comp.cdb`](README.md) · module [`hide.comp.cdb.Formulas`](Formulas.md) · source [`hide_js/hide/comp/cdb/Formulas.hx`](https://github.com/Jonathan-HETEAU/hide/blob/ccr-01f70725-tatboj/hide_js/hide/comp/cdb/Formulas.hx) · available on editor (js)

The result of a line validation function.

## Constructors

### Ok

```haxe
Ok
```

The line is valid.

### Error

```haxe
Error(message:String)
```

The line has an error.

### Warning

```haxe
Warning(message:String)
```

The line has a warning.
